In [148]:
import os
import pandas as pd
import numpy as np
import statistics

In [2]:
os.chdir('..')

In [70]:
path = os.path.join(os.getcwd(), 'data', 'sent.csv')
data = pd.read_csv(path)

In [71]:
data.drop(columns = ['Unnamed: 0'], inplace=True)

In [72]:
data.head()

,date,text,sent
0,2021-02-10 23:59:04,Blue Ridge Bank shares halted by NYSE after #b...,1
1,2021-02-10 23:58:48,"ðŸ˜Ž Today, that's this #Thursday, we will do a ""...",5
2,2021-02-10 23:54:48,"Guys evening, I have read this article about B...",5
3,2021-02-10 23:54:33,$BTC A big chance in a billion! Price: \487264...,1
4,2021-02-10 23:54:06,This network is secured by 9 508 nodes as of t...,5

In [73]:
date = data['date'].fillna(' ').values.tolist()

In [74]:
data.drop(index=[64943, 64944], axis=0, inplace=True)

In [75]:
aa = []
for i in date:
    aa.append(i[0:10])

In [77]:
data['date'] = pd.DataFrame(aa)

In [78]:
data

              date                                               text  sent
0       2021-02-10  Blue Ridge Bank shares halted by NYSE after #b...     1
1       2021-02-10  ðŸ˜Ž Today, that's this #Thursday, we will do a "...     5
2       2021-02-10  Guys evening, I have read this article about B...     5
3       2021-02-10  $BTC A big chance in a billion! Price: \487264...     1
4       2021-02-10  This network is secured by 9 508 nodes as of t...     5
...            ...                                                ...   ...
106640  2021-04-17  Bitcoin - BTC\nPrice: $61,390.93\nChange in 1h...     1
106641  2021-04-17  Market Id : BTC-AUD\nLast Price :79499.95\n24 ...     1
106642  2021-04-17  Bitcoin: $60,793.91\n -1.83% (-$1134.68)\nHigh...     1
106643  2021-04-17  #Bitcoin(#BTC) $60,885, -1.89% down\n#Dogecoin...     1
106644  2021-04-17  New Airdrop: #FIFO #Finance ( $FIFO)\nReward: ...     1

[106643 rows x 3 columns]

In [82]:
date = data['date'].values.tolist()

In [101]:
uniqDates = list(set(date))
uniqDates = list(np.sort(uniqDates))
uniqDateslen = len(set(date))

In [140]:
datas1 = {}
date = data['date'].values.tolist()
for i in range(len(data)):
    if(i not in [64943,64944]):
        if(date[i] not in datas1):
            datas1[date[i]] = [data['sent'].iloc[i]]
        else:
            datas1[date[i]].append(data['sent'].loc[i])

In [128]:
datas1.keys()

dict_keys(['2021-02-10', '2021-02-09', '2021-02-08', '2021-02-07', '2021-02-06', '2021-02-05', '2021-02-15', '2021-02-14', '2021-02-13', '2021-02-19', '2021-02-18', '2021-02-22', '2021-02-28', '2021-03-12', '2021-03-11', '2021-04-12', '2021-04-11', '2021-04-10', '2021-04-09', '2021-04-08', '2021-04-07'])

In [136]:
data['text'].loc[64945]

'Good info here.  Looks like a perfect storm brewing for new ATH.\n\n#bitcoin #btc\n\n5 key reasons why Bitcoin will likâ€¦ https://t.co/JyMXYigkaD'

In [146]:
sentForDate_mean = {}
for i,j in datas1.items():
    sentForDate_mean[i] = np.mean(j)

In [149]:
sentForDate_mode = {}
for i,j in datas1.items():
    sentForDate_mode[i] = statistics.mode(j)

In [150]:
sentForDate_mean

{'2021-02-10': 2.857629041406693,
 '2021-02-09': 2.825287356321839,
 '2021-02-08': 2.872144501505224,
 '2021-02-07': 2.756105610561056,
 '2021-02-06': 2.727272727272727,
 '2021-02-05': 2.925619834710744,
 '2021-02-15': 3.4491507202752096,
 '2021-02-14': 3.2015465203292592,
 '2021-02-13': 2.988621444201313,
 '2021-02-19': 2.8066799380667993,
 '2021-02-18': 2.900621118012422,
 '2021-02-22': 2.73625140291807,
 '2021-02-28': 2.8525091799265607,
 '2021-03-12': 2.726994646953862,
 '2021-03-11': 2.5299539170506913,
 '2021-04-12': 2.8738317757009346,
 '2021-04-11': 2.871996076508092,
 '2021-04-10': 2.6768885564697085,
 '2021-04-09': 2.815539568345324,
 '2021-04-08': 2.9323529411764704,
 '2021-04-07': 2.856328957146396,
 '2021-04-06': 2.7648793565683647,
 '2021-04-05': 2.6886663632225765,
 '2021-04-24': 2.702935222672065,
 '2021-04-23': 2.5764705882352943,
 '2021-04-22': 2.598980791846335,
 '2021-04-21': 2.5365193868349865,
 '2021-04-20': 2.7543299908842296,
 '2021-04-19': 2.684389414906531,
 '2021-04-18': 2.548640611724724,
 '2021-04-17': 2.8168168168168166}

In [151]:
sentForDate_mode

{'2021-02-10': 1,
 '2021-02-09': 1,
 '2021-02-08': 1,
 '2021-02-07': 1,
 '2021-02-06': 1,
 '2021-02-05': 1,
 '2021-02-15': 5,
 '2021-02-14': 5,
 '2021-02-13': 1,
 '2021-02-19': 1,
 '2021-02-18': 1,
 '2021-02-22': 1,
 '2021-02-28': 1,
 '2021-03-12': 1,
 '2021-03-11': 1,
 '2021-04-12': 1,
 '2021-04-11': 1,
 '2021-04-10': 1,
 '2021-04-09': 1,
 '2021-04-08': 1,
 '2021-04-07': 1,
 '2021-04-06': 1,
 '2021-04-05': 1,
 '2021-04-24': 1,
 '2021-04-23': 1,
 '2021-04-22': 1,
 '2021-04-21': 1,
 '2021-04-20': 1,
 '2021-04-19': 1,
 '2021-04-18': 1,
 '2021-04-17': 1}