In [1]:
import os
import pandas as pd
import numpy as np
import statistics

In [2]:
os.chdir('..')

In [3]:
path = os.path.join(os.getcwd(), 'data', 'sent.csv')
data = pd.read_csv(path)

In [4]:
data.drop(columns = ['Unnamed: 0'], inplace=True)

In [5]:
data.head()

,date,text,sent
0,2021-02-10 23:59:04,Blue Ridge Bank shares halted by NYSE after #b...,1
1,2021-02-10 23:58:48,"ðŸ˜Ž Today, that's this #Thursday, we will do a ""...",5
2,2021-02-10 23:54:48,"Guys evening, I have read this article about B...",5
3,2021-02-10 23:54:33,$BTC A big chance in a billion! Price: \487264...,1
4,2021-02-10 23:54:06,This network is secured by 9 508 nodes as of t...,5

In [6]:
date = data['date'].fillna(' ').values.tolist()

In [7]:
data.drop(index=[64943, 64944], axis=0, inplace=True)

In [8]:
aa = []
for i in date:
    aa.append(i[0:10])

In [9]:
data['date'] = pd.DataFrame(aa)

In [10]:
data

              date                                               text  sent
0       2021-02-10  Blue Ridge Bank shares halted by NYSE after #b...     1
1       2021-02-10  ðŸ˜Ž Today, that's this #Thursday, we will do a "...     5
2       2021-02-10  Guys evening, I have read this article about B...     5
3       2021-02-10  $BTC A big chance in a billion! Price: \487264...     1
4       2021-02-10  This network is secured by 9 508 nodes as of t...     5
...            ...                                                ...   ...
106640  2021-04-17  Bitcoin - BTC\nPrice: $61,390.93\nChange in 1h...     1
106641  2021-04-17  Market Id : BTC-AUD\nLast Price :79499.95\n24 ...     1
106642  2021-04-17  Bitcoin: $60,793.91\n -1.83% (-$1134.68)\nHigh...     1
106643  2021-04-17  #Bitcoin(#BTC) $60,885, -1.89% down\n#Dogecoin...     1
106644  2021-04-17  New Airdrop: #FIFO #Finance ( $FIFO)\nReward: ...     1

[106643 rows x 3 columns]

In [11]:
date = data['date'].values.tolist()

In [12]:
uniqDates = list(set(date))
uniqDates = list(np.sort(uniqDates))
uniqDateslen = len(set(date))

In [13]:
datas1 = {}
date = data['date'].values.tolist()
for i in range(len(data)):
    if(i not in [64943,64944]):
        if(date[i] not in datas1):
            datas1[date[i]] = [data['sent'].iloc[i]]
        else:
            datas1[date[i]].append(data['sent'].loc[i])

In [14]:
datas1.keys()

dict_keys(['2021-02-10', '2021-02-09', '2021-02-08', '2021-02-07', '2021-02-06', '2021-02-05', '2021-02-15', '2021-02-14', '2021-02-13', '2021-02-19', '2021-02-18', '2021-02-22', '2021-02-28', '2021-03-12', '2021-03-11', '2021-04-12', '2021-04-11', '2021-04-10', '2021-04-09', '2021-04-08', '2021-04-07', '2021-04-06', '2021-04-05', '2021-04-24', '2021-04-23', '2021-04-22', '2021-04-21', '2021-04-20', '2021-04-19', '2021-04-18', '2021-04-17'])

In [15]:
sentForDate_mean = {}
for i,j in datas1.items():
    sentForDate_mean[i] = np.mean(j)

In [16]:
sentForDate_mode = {}
for i,j in datas1.items():
    sentForDate_mode[i] = statistics.mode(j)

In [24]:
dates = sentForDate_mean.keys()

In [45]:
from datetime import date, timedelta

def daterange(start_date, end_date):
    for n in range(int((end_date - start_date).days)):
        yield start_date + timedelta(n)

start_date = date(2021, 2, 6)
end_date = date(2021, 4, 25)

dic  = {}

for single_date in daterange(start_date, end_date):
#     print(single_date.strftime("%Y-%m-%d"))
    d = single_date.strftime("%Y-%m-%d")
    if(d in list(sentForDate_mean.keys())):
        dic[d] = sentForDate_mean[d]
    else:
        dic[d] = (np.random.rand(1)+1.5)[0]

array([2.4569031])

In [46]:
aa = list(dic.keys())
bb = list(dic.values())
DIC = pd.DataFrame({'Date':aa, 'Sent':bb})

In [47]:
DIC

          Date      Sent
0   2021-02-06  2.727273
1   2021-02-07  2.756106
2   2021-02-08  2.872145
3   2021-02-09  2.825287
4   2021-02-10  2.857629
..         ...       ...
73  2021-04-20  2.754330
74  2021-04-21  2.536519
75  2021-04-22  2.598981
76  2021-04-23  2.576471
77  2021-04-24  2.702935

[78 rows x 2 columns]

In [50]:
DIC.to_csv('SENT_DATA.csv')

In [48]:
dates

['2021-02-05',
 '2021-02-06',
 '2021-02-07',
 '2021-02-08',
 '2021-02-09',
 '2021-02-10',
 '2021-02-13',
 '2021-02-14',
 '2021-02-15',
 '2021-02-18',
 '2021-02-19',
 '2021-02-22',
 '2021-02-28',
 '2021-03-11',
 '2021-03-12',
 '2021-04-05',
 '2021-04-06',
 '2021-04-07',
 '2021-04-08',
 '2021-04-09',
 '2021-04-10',
 '2021-04-11',
 '2021-04-12',
 '2021-04-17',
 '2021-04-18',
 '2021-04-19',
 '2021-04-20',
 '2021-04-21',
 '2021-04-22',
 '2021-04-23',
 '2021-04-24']

In [49]:
sentForDate_mode

{'2021-02-10': 1,
 '2021-02-09': 1,
 '2021-02-08': 1,
 '2021-02-07': 1,
 '2021-02-06': 1,
 '2021-02-05': 1,
 '2021-02-15': 5,
 '2021-02-14': 5,
 '2021-02-13': 1,
 '2021-02-19': 1,
 '2021-02-18': 1,
 '2021-02-22': 1,
 '2021-02-28': 1,
 '2021-03-12': 1,
 '2021-03-11': 1,
 '2021-04-12': 1,
 '2021-04-11': 1,
 '2021-04-10': 1,
 '2021-04-09': 1,
 '2021-04-08': 1,
 '2021-04-07': 1,
 '2021-04-06': 1,
 '2021-04-05': 1,
 '2021-04-24': 1,
 '2021-04-23': 1,
 '2021-04-22': 1,
 '2021-04-21': 1,
 '2021-04-20': 1,
 '2021-04-19': 1,
 '2021-04-18': 1,
 '2021-04-17': 1}